nav {
    width: 100%;
    color: #fff;
    height: 48px;
}
nav ul {
    width: 100%;
    padding: 1%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

nav ul li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 2%;
}

nav ul #nav_left {
    width: 10%;
    justify-content: flex-start;
    align-items: center;
}

nav ul #nav_title {
    width: 80%;
    justify-content: center;
}

a {
    margin-right: 10%;
} 
.active {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}